@model HealthcareApplications.Models.UserDetailsViewModel
@using HealthcareApplications.Controllers
@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewData["Title"] = "Edit";
}

<h4>Edit details</h4>

<div>
    @using (Html.BeginForm("EditMyDetails", "Home", FormMethod.Post, new { vm = Model }))
    {
        @Html.HiddenFor(a => a.CurrentUser.Id, new { @class = "form-control" })
    <dl class="row">
        <dt class="col-sm-2">
            @Html.LabelFor(a => a.CurrentUser.Password, new { @class = "form-label" })
        </dt>
        <dd class="col-sm-10">
            @Html.PasswordFor(a => a.CurrentUser.Password, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.CurrentUser.Password, "", new { @class = "text-danger" })
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(a => a.CurrentUser.SecQ1Index, new { @class = "form-label" })
        </dt>
        <dd class="col-sm-10">
            @Html.DropDownListFor(a => a.CurrentUser.SecQ1Index, Model.Questions, "Select a security question", new { @class = "form-control" })
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(a => a.CurrentUser.SecQ1Response, new { @class = "form-label" })
        </dt>
        <dd class="col-sm-10">
            @Html.TextBoxFor(a => a.CurrentUser.SecQ1Response, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.CurrentUser.SecQ1Response, "", new { @class = "text-danger" })
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(a => a.CurrentUser.SecQ2Index, new { @class = "form-label" })
        </dt>
        <dd class="col-sm-10">
            @Html.DropDownListFor(a => a.CurrentUser.SecQ2Index, Model.Questions, "Select a security question", new { @class = "form-control" })
            @if (Model.CurrentUser.SecQ2Index == Model.CurrentUser.SecQ1Index)
            {
                <label class="text-danger">Cannot select a security question more than once</label>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(a => a.CurrentUser.SecQ2Response, new { @class = "form-label" })
        </dt>
        <dd class="col-sm-10">
            @Html.TextBoxFor(a => a.CurrentUser.SecQ2Response, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.CurrentUser.SecQ2Response, "", new { @class = "text-danger" })
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(a => a.CurrentUser.SecQ3Index, new { @class = "form-label" })
        </dt>
        <dd class="col-sm-10">
            @Html.DropDownListFor(a => a.CurrentUser.SecQ3Index, Model.Questions, "Select a security question", new { @class = "form-control" })
            @if (Model.CurrentUser.SecQ3Index == Model.CurrentUser.SecQ1Index || Model.CurrentUser.SecQ3Index == Model.CurrentUser.SecQ2Index)
            {
                <label class="text-danger">Cannot select a security question more than once</label>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.LabelFor(a => a.CurrentUser.SecQ3Response, new { @class = "form-label" })
        </dt>
        <dd class="col-sm-10">
            @Html.TextBoxFor(a => a.CurrentUser.SecQ3Response, new { @class = "form-control" })
            @Html.ValidationMessageFor(a => a.CurrentUser.SecQ3Response, "", new { @class = "text-danger" })
        </dd>
        @if (HttpContextAccessor.HttpContext.Session.GetString("Role") == "Patient")
        {
            <dt class="col-sm-2">
                @Html.LabelFor(a => a.CurrentPatient.Name, new { @class = "form-label" })
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(a => a.CurrentPatient.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.CurrentPatient.Name, "", new { @class = "text-danger" })
            </dd>
            <dt class="col-sm-2">
                @Html.LabelFor(a => a.CurrentPatient.Pronouns, new { @class = "form-label" })
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(a => a.CurrentPatient.Pronouns, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.CurrentPatient.Pronouns, "", new { @class = "text-danger" })
            </dd>
            <dt class="col-sm-2">
                @Html.LabelFor(a => a.CurrentPatient.DateOfBirth, new { @class = "form-label" })
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(a => a.CurrentPatient.DateOfBirth, new { @class = "form-control", @type="date" })
                @Html.ValidationMessageFor(a => a.CurrentPatient.DateOfBirth, "", new { @class = "text-danger" })
            </dd>
        }
        else
        {
            <dt class="col-sm-2">
                @Html.LabelFor(a => a.CurrentPhysician.Name, new { @class = "form-label" })
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(a => a.CurrentPhysician.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.CurrentPhysician.Name, "", new { @class = "text-danger" })
            </dd>
            <dt class="col-sm-2">
                @Html.LabelFor(a => a.CurrentPhysician.Pronouns, new { @class = "form-label" })
            </dt>
            <dd class="col-sm-10">
                @Html.TextBoxFor(a => a.CurrentPhysician.Pronouns, new { @class = "form-control" })
                @Html.ValidationMessageFor(a => a.CurrentPhysician.Pronouns, "", new { @class = "text-danger" })
            </dd>

        }
    </dl>
        <input type="submit" value="Submit" class="btn btn-danger btn-block" style="width: 15%" />
    }
</div>
<p> </p>
<div>
    <a asp-action="MyDetails" class="btn btn-danger btn-block" style="width: 15%">Cancel</a>
</div>