@model HealthcareApplications.Models.PatientsPhysicianViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Patients" asp-action="Index" method="get">
    <p>
      Physician: <select asp-for="SearchPhysician" asp-items="Model.Physicians">
            <option value="">All</option>
        </select>

        Patient: <input type="text" asp-for="SearchPatient" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].DateOfBirth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Patients[0].PhysicianId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Patients) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhysicianId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
