@model HealthcareApplications.Models.PrescriptionDetailsViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>
<div>
    <h4>Prescription</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Prescription.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Prescription.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PatientName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhysicianName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhysicianName)
        </dd>
    </dl>
</div>
<h4>Drugs</h4>
<div class="form-group">
    <a asp-controller="PrescriptionDrugs" asp-action="Create" asp-route-id="@Model.PrescriptionId">Add Drug</a>
</div>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>

