@model HealthcareApplications.Models.PatientsPrescriptionsViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Prescriptions" asp-action="Index" method="get">
    <p>
        Patient: <select asp-for="SearchPatientId" asp-items="Model.Patients">
            <option value="">All</option>
        </select>

        Prescription: <input type="text" asp-for="SearchPrescription" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prescriptions[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescriptions[0].PrescribingPhysicianId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescriptions[0].PrescribedPatientId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescriptions[0].PrescribedDrugId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescriptions[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescriptions[0].Dosage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prescriptions[0].RefillCount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Prescriptions) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescribingPhysicianId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescribedPatientId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrescribedDrugId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dosage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RefillCount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
