@model HealthcareApplications.Models.PrescriptionDrug

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PrescriptionDrug</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrescriptionId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrescriptionId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DrugId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DrugId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dosage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dosage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RefillCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RefillCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
